@import "tailwindcss";

:root {
  /* Base */
  --white-hsl: hsl(30 55.56% 96.47%);
  --black-hsl: hsl(95.29 45.95% 14.51%);

  /* Accent system */
  --safeLightAccent-hsl: hsl(255 10.34% 77.25%);
  --safeInverseAccent-hsl: hsl(0 0% 0%);
  --accent-hsl: hsl(255 10.34% 77.25%);
  --lightAccent-hsl: hsl(32.73, 17.46%, 87.65%);
  --darkAccent-hsl: hsl(56.79, 28.57%, 38.43%);

  /* Fonts */
  --font-sans: "Gopher", ui-serif, Georgia, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
}



@theme inline {
  /* Colors */
  --color-background: var(--white-hsl);
  --color-foreground: var(--black-hsl);
  --color-primary: var(--lightAccent-hsl);
  --color-accent: var(--accent-hsl);
  --color-dark-accent: var(--darkAccent-hsl);

  /* Fonts */
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}


@layer base {
  body {
    background-color: var(--white-hsl);
    color: var(--black-hsl);
    font-family: var(--font-sans);
    font-weight: var(--fw-regular);
    line-height: 1.6;
  }
}