@import "tailwindcss";

:root {
  /* Base */
  --white-hsl: hsl(40 40% 96%);
  --black-hsl: hsl(100 35% 18%);

  /* Accent system */
  --accent-hsl: hsl(95 25% 65%);
  --lightAccent-hsl: hsl(40 30% 88%);
  --darkAccent-hsl: hsl(95 30% 38%);

  /* Fonts */
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
}



@theme inline {
  /* Colors */
  --color-background: var(--white-hsl);
  --color-foreground: var(--black-hsl);
  --color-primary: var(--lightAccent-hsl);
  --color-accent: var(--accent-hsl);
  --color-dark-accent: var(--darkAccent-hsl);

  /* Fonts */
  --font-sans: var(--font-mont-serret);
  --font-mono: var(--font-mono);
}


@layer base {
  body {
    background-color: var(--white-hsl);
    color: var(--black-hsl);
    font-family: var(--font-mont-serret);
    font-weight: var(--fw-regular);
    line-height: 1.6;
  }
}